<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Post page</title>
</head>
<body>
    <style>
            /* Add a black background color to the top navigation */
        .topnav {
        background-color: #333;
        overflow: hidden;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
        background-color: #ddd;
        color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
        background-color: #4CAF50;
        color: white;
        }
    </style>

    <div class="topnav">
            <a href="/Home">All Posts</a>
            <a href="/NewPost">New Post</a>
            <a href="/Profile">My Profile</a>
            <a class="active" href="/Account">Account</a>
            <a href="/Logout">Log out</a>
    </div>

    <h1>My Account</h1>
    Hello <label for="Forename">{{ forename }}</label>  <label for="Forename">{{surname}}</label>
        <br><br>

        <form action="/changeUser/" method="post">
            Change Username: {{username}}
            <input type="hidden" name="token"  value="{{token}}">
            <input type="text" name="username" pattern="[A-Za-z1-9]{3,}" title="Minimum 3 characters, numbers allowed." value="{{ request.form.username }}">
            <button id="myButton" type="submit" class="float-left submit-button">Update</button>
            <br>
            <br>
        </form>
    <form action="/changePass/" method="post">
            Change Password:
            <input type="hidden" name="token" value="{{token}}">
            <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                   title="Must contain at least one  number and one uppercase and lowercase letter, and at least 6 or more characters"
                   value="{{ request.form.password }}">
            <button id="myButton" type="submit" class="float-left submit-button">Update</button>
            <br>
            <br>
         </form>
     <form action="/postCount/">
         Posts made: <label for="NoOfPosts"> {{ postCount }} </label>
<!--         <button id="myButton" type="submit" class="float-left submit-button">Load posts made</button>-->
            <br>
                 {% if msg1 %}
                    <p class="error"> <strong>Message:</strong>  {{ msg1 }} </p>
                {% endif %}
            <br>
            Most recent login: <label for="LoginTimestamp">{{ timestamp }}</label>
 </form>

     {% if error %}
    <p class="error"> <strong>Error:</strong>  {{ error }} </p>
    {% endif %}
<!--<button onclick="location.href = 'LoginPage.html';" id="myButton" class="float-left submit-button" >Home</button> -->

</body>
</html>
