<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>All Posts</title>
</head>
<body>
    <style>

        body, h1, h2, h3, p, div, li, ul, form, input {
            margin: 0; padding: 0; line-height: 1em; border: 0;
        }

        ul.content > li {
            width: 50%;
            list-style: none;
            padding: 0.5em 1em;

            border-radius: 10px;
            /*background: #cfe7fa;*/
            background: rgb(156, 161, 159);
            margin: 1em 0;
            background: -moz-linear-gradient(top, #cfe7fa 54%, #6393c1 100%);
            background: -webkit-linear-gradient(top, #cfe7fa 54%,#6393c1 100%);
            background: linear-gradient(to bottom, #cfe7fa 54%,#6393c1 100%);

            box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.15);
        }

        #madePost {
            border-radius: 25px;
            background: rgb(156, 161, 159);
            padding: 20px;
            width: 40%;
            height: 150px;
            font-family: sans-serif;
        }

        .myTitle {
            font-size: 40px;
        }

        .myContent {
            font-size: 20px;
        }
            /* Add a black background color to the top navigation */
        .topnav {
        background-color: #333;
        overflow: hidden;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
        background-color: #ddd;
        color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
        background-color: #4CAF50;
        color: white;
        }
    </style>

    <div class="topnav">
            <a class="active" href="/Home">All Posts</a>
            <a href="/NewPost">New Post</a>
            <a href="/Profile">My Profile</a>
            <a href="/Account">Account</a>
            <a href="/Logout">Log out</a>
    </div>

    <h1>All Posts</h1>

    <div class="row" style=" background-color: lightgreen">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
    <!--https://stackoverflow.com/questions/45072287/printing-a-list-in-flask-->

        <ul class="content">
        {% for post in data %}
        <li>
             <h2>{{post[2]}} <span style="font-size: 15px; font-style: italic">by {{post[1]}}</span>  </h2>
             <p>{{post[3]}}</p>
        </li>
        {% endfor %}
    </ul>


    <!--<div id="madePost">-->
        <!--<label class="myTitle" for="title">Title</label>-->
        <!--<br>-->
        <!--<label class="myContent" for="content">-->
            <!--This is the content of my post. This is the content of my post. This is the content of my post. -->
            <!--This is the content of my post. This is the content of my post. This is the content of my post.-->
        <!--</label>-->
        <!--<br><br>-->
        <!--By<label for="author"> User1</label>-->
    <!--</div>-->
</body>
</html>
