<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Login</title>
</head>
<style>
            /* Add a black background color to the top navigation */
        .topnav {
        background-color: #333;
        overflow: hidden;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
        background-color: #ddd;
        color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
        background-color: #4CAF50;
        color: white;
        }
    </style>
<body>

    <h1>Forgot Password</h1>

    <form action="/checkquestion" method="POST">
        <input type="email" name="email" placeholder="Email" value="{{ request.form.email }}" required>
        <br>

        <p>Please select your security question</p>
        <select name="securityQ"> Choose a security question
        <option value="maidenName">What is your mother's maiden name?</option>
        <option value="primary">What is your primary school's name?</option>
        <option value="streetName">What is the name of the first street you lived on?</option>
    </select>
    <br>
    <br>

    <input type="text" name="answer" placeholder="Answer" value="{{ request.form.answer }}">
    <br>
    <br>

        <input type="submit" value="Recover Account">
    </form>

        <div class="row" style="">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
 {% if message %}
    <p> {{ message }} </p>
    {% endif %}

 {% if error %}
    <p class="error"> <strong>Error:</strong>  {{ error }} </p>
    {% endif %}
        <a href="/Login">I have an account</a>
</body>
</html>
