<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Login</title>
</head>
<body>
<style>
            /* Add a black background color to the top navigation */
        .topnav {
        background-color: #333;
        overflow: hidden;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
        background-color: #ddd;
        color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
        background-color: #4CAF50;
        color: white;
        }
    </style>

<h1>Login</h1>


<form action="/Login" method="POST">
    <input type="email" name="email" placeholder="Email"  value="{{ request.form.email }}" required>
    <br>
    <br>
    <input type="password" name="password" placeholder="Password" value="{{ request.form.password }}" required>
    <br><br>
    <input type="hidden" name="token" value="{{session.token}}">
    <input type="submit" type="submit" value="Login">
</form>

{% if error %}
<p class="error"> <strong>Error:</strong>  {{ error }} </p>
{% endif %}
<br> <a href="/forgotPass">Forgot Password?</a>
<br>
I have not registered <a href="/Register">Sign Up</a>
</body>
</html>
