<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>New Post</title>
</head>
<body>
    <style>
        /* Add a black background color to the top navigation */
        .topnav {
        background-color: #333;
        overflow: hidden;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
        background-color: #ddd;
        color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
        background-color: #4CAF50;
        color: white;
        }
    </style>

    <div class="topnav">
            <a href="/Home">All Posts</a>
            <a class="active" href="/NewPost">New Post</a>
            <a href="/Profile">My Profile</a>
            <a href="/Account">Account</a>
            <a href="/Logout">Log out</a>
    </div>

    <h1>New Post</h1>

    <form action="/MakePost" method="POST">
        Title:<br>
        <input type="text" name="title" placeholder="Title" value="{{ request.form.title }}">
        <br>
        Content:<br>
        <input type="text" name="content" placeholder="Content" value="{{ request.form.content }}">
        <br><br>
        <input type="hidden" name="token" value="{{token}}">
        <input type="submit" value="Post">
    </form>

 {% if error %}
    <p class="error"> <strong>Error:</strong>  {{ error }} </p>
    {% endif %}
</body>
</html>
