<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Reset password</title>
</head>
<style>
            /* Add a black background color to the top navigation */
        .topnav {
        background-color: #333;
        overflow: hidden;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
        background-color: #ddd;
        color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
        background-color: #4CAF50;
        color: white;
        }
    </style>
<body>

<h1>Reset Password</h1>

<!--<form action="/ResetPassword" method="POST">-->
<!--<input type="text" name="email" placeholder="Email Address" value="{{ request.form.email }}">-->
<!--<br>-->
<!--<br>-->
<!--<input type="submit" type="submit" value="Reset Password">-->
<!--</form>-->

<form action="/resetMyPass" method="POST">
    <input type="password" name="passwordR" placeholder="Password" value="{{ request.form.password }}" required>
    <br>
    <br>
    <input type="password" name="confirmpassword" placeholder="Password" value="{{ request.form.confirmpassword }}" required>
    <br><br>
    <input type="hidden" name="token" value="{{session.token}}">
    <input type="submit" type="submit" value="Reset password">
</form>

{% if message %}
<p class=""> {{ message }} </p>
{% endif %}
<a href="/Login">I have an account</a>
</body>
</html>
