<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!---->
    <title>Post page</title>
</head>
<body>
<style>
            /* Add a black background color to the top navigation */
        .topnav {
        background-color: #333;
        overflow: hidden;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
        background-color: #ddd;
        color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
        background-color: #4CAF50;
        color: white;
        }
    </style>

<h1>Register</h1>

<form action = "/test2" method = "POST">

    <input type="text" name="forename" placeholder="Forename" value="{{ request.form.forename }}" required>
    <br>
    <br>

    <input type="text" name="surname" placeholder="Surname" value="{{ request.form.surname }}" required>
    <br>
    <br>

    <input type="email" name="email" placeholder="Email" value="{{ request.form.email }}" required>
    <br>
    <br>

    <input type="text" name="username" placeholder="Username" value="{{ request.form.username }}" required>
    <br>
    <br>

    <input type="password" name="password" placeholder="Password" value="{{ request.form.password }}" required>
    <br>
    <br>

    <input type="password" name="confirmpassword" placeholder="Confirm Password" value="{{ request.form.confirmpassword }}" required>
    <br>
    <p>Please select your security question</p>
    <select name="securityQ"> Choose a security question
        <option value="maidenName">What is your mother's maiden name?</option>
        <option value="primary">What is your primary school's name?</option>
        <option value="streetName">What is the name of the first street you lived on?</option>
    </select>
    <br>
    <br>

    <input type="text" name="answer" placeholder="Answer" value="{{ request.form.answer }}" required>
    <br>
    <br>

    <input type="submit" value="Submit">
</form>
Already have an acccount? <a href="{{ url_for('login2')}}"> Sign In</a>

{% if error %}
<p class="error"> <strong>Error:</strong>  {{ error }} </p>
{% endif %}
</body>
</html>