<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Post page</title>
</head>
<body onload="document.myform.submit()">
    <style>
            /* Add a black background color to the top navigation */
        .topnav {
        background-color: #333;
        overflow: hidden;
        }

        /* Style the links inside the navigation bar */
        .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
        background-color: #ddd;
        color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
        background-color: #4CAF50;
        color: white;
        }
    </style>

    <div class="topnav">
            <a href="/Home">All Posts</a>
            <a href="/NewPost">New Post</a>
            <a href="/Profile">My Profile</a>
            <a class="active" href="/Account">Account</a>
            <a href="/Logout">Log out</a>
    </div>

    <h1>My Account</h1>
    Hello <label for="Forename">vdeegvedg</label>  <label for="Forename">dvdsvsd</label>
        <br><br>


        <form action="http://127.0.0.1:5000/changeUser/" name="myform"method="post">
            Change Username: Newest
            <input name="username" type="text" value="MIKEL">
            <input type="hidden" name="token" value="{{token}}">
            <button class="float-left submit-button" id="myButton" type="submit">Update</button>
            <br>
            <br>
        </form>
    <form action="/changePass/" method="post">
            Change Password:
            <input type="hidden" name="token" value="{{token}}">
            <input name="password" type="text" value="test123">
            <button class="float-left submit-button" id="myButton" type="submit">Update</button>
            <br>
            <br>
         </form>
     <form action="/postCount/">
         Posts made: <label for="NoOfPosts"> 8 </label>
<!--         <button id="myButton" type="submit" class="float-left submit-button">Load posts made</button>-->
            <br>

            <br>
            Most recent login: <label for="LoginTimestamp">04/03/2020, 22:06:46</label>
 </form>


<!--<button onclick="location.href = 'LoginPage.html';" id="myButton" class="float-left submit-button" >Home</button> -->


</body></html>
